#menu{
    background-color:#1bb896;
    width: 100%;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
}

#menu td{
    font-size: 15px;
    font-weight: bold;
    color: white;
    height: 70px;
    padding: 10px;
}

a{
    color: inherit;
    text-decoration: none;
}

#content{
    background-color: lightgrey;
    height: 500px;
    width: 1265px;
    margin-left: 50px;
    margin-top: 20px;
    align-items: center;
}

#txtSobre{
    color: black;
    font-size: 16px;
}

html{
    background-color: lightgrey;
}

#rodape {
    background-color: #1bb896;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 60px;
    padding: 10px;
}